.home {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.avatars {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose__avatar {
  font-size: 28px;
}

.form__info {
  flex: 5;
}
